// 颜色
$color-blue:#01ADFF;
$color-warn:#F6B447;
$color-error:#F21F1F;
$color-success:#2FBB72;
$background-color:radial-gradient(ellipse at top left,
    rgba(255, 255, 255, 1) 40%,
    rgba(229, 229, 229, 0.9) 100%);
$page-padding:20px;